name: Update EastAsianWidth

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 8
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run fetch
      - run: pnpm generate
      - id: dump_eaw_version
        run: echo "EAW_VERSION=$(pnpm --silent dump-eaw-version)" >> $GITHUB_OUTPUT
      - uses: peter-evans/create-pull-request@v4
        with:
          branch: feat/update-eaw
          commit-message: 'feat: update EastAsianWidth to ${{ steps.dump_eaw_version.outputs.EAW_VERSION }}'
          title: 'Update EastAsianWidth'
          body: |
            Update EastAsianWidth to ${{ steps.dump_eaw_version.outputs.EAW_VERSION }}
          delete-branch: true
